<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div class="container">
      <div class="row mb-5">
        <div class="col" id="header">
          <h1><a class="text-dark" href="/">Andy Rea</a></h1>
          <p>My thoughts on programming, scripting and cyber security</p>
        </div>
      </div>
      <div class="row">
        <div class="col" id="content">
          {{- block "main" . }}{{- end }}
        </div>
      </div>
      <div class="row">
        <div class="col" id="footer">
          {{- partial "footer.html" . -}}
        </div>
      </div>
    </div>
  </body>
</html>
