<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="container">
          <div class="row">
            <div class="col" id="header">
                {{- partial "header.html" . -}}
            </div>
          </div>
          <div class="row">
            <div class="col" id="content">
              {{- block "main" . }}{{- end }}
            </div>
          </div>
          <div class="row">
            <div class="col" id="footer">
                {{- partial "footer.html" . -}}
            </div>
          </div>
        </div>
    </body>
</html>
