
h1,h2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight:bold;
}

p{
  font-family: 'Titillium Web', sans-serif;
}

.highlight pre{
  border-radius: 10px;
  padding:1em;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
table{
  margin-bottom:2em;
}
tr{
  border-bottom: #CCC 1px solid !important;
}
tr:nth-child(even) {background: #E8E8E8}
tr:nth-child(odd) {background: #FFF}

td, th{
  padding:1em;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.4em;
  width:95%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #272822 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
  border-radius: 10px;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#272822;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

code{
  color:#272822;
}

img{
  width:100%;
  max-width: 100%;
  min-width: 100%;
}