
h1,h2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight:bold;
}

p{
  font-family: 'Titillium Web', sans-serif;
}

.highlight pre{
  border-radius: 15px;
  padding:1em;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
table{
  margin-bottom:2em;
}
tr{
  border-bottom: #CCC 1px solid !important;
}
tr:nth-child(even) {background: #E8E8E8}
tr:nth-child(odd) {background: #FFF}

td, th{
  padding:1em;
}
